// /* reset margin,padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    height: 500px;
    background: url("./banner.jpg") center center no-repeat;
    padding: 20px;

    .about-signin {
        height: 80px;
        width: 100%;
        text-align: right;

        .about,
        .signin {
            text-decoration: none;
            margin-top: 20px;
            padding: 10px 15px;
            display: inline-block;
            text-transform: uppercase;
        }

        .signin {
            margin-right: 60px;
            margin-left: 25px;
            border: 1px solid green;
            border-radius: 20px;
        }
    }

    .logo {
        height      : 100px;
        background: url("./hapoERP.png") center center no-repeat;
    }
    
    .content-center{
        .left,.center,.right{
            width: 33%;
            display: inline-block;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        span{
            color: red;
            display: block;
            font-size: 25px;
            padding-top: 5px;
        }
        img{
            width: 30px;
            height: 30px;
        }
    }

    .text {
        text-align: center;
        margin-top: 30px;

        span{
            display: block;
            font-size: 25px;
        }
    }

    .btn-start-now {
        text-align: center;

        button {    
            text-transform: uppercase;
            padding: 10px 15px;
            border-radius: 20px;
            border: 1px solid green;
            margin-top: 25px;
            cursor: pointer;
        }
    }
}












